<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/app.css">
  <link rel="stylesheet" href="/spectre.min.css">
  <link rel="stylesheet" href="/spectre-exp.min.css">
  <link rel="stylesheet" href="/spectre-icons.min.css">
  <title>MangaDB</title>
</head>
