<header>
  <nav id="indexNav">
    <div class="indexDiv">
      <h1>MangaDB</h1>
      <ul>
        <button>
          <a href="/mangaDB/new">Missing a Manga?</a>
        </button>
        <button type="button" name="button">
          <a href="/mangadb">Back</a>
        </button>
      </ul>
    </div>
  </nav>
</header>
