<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="app.css">
        <title></title>
    </head>
    <nav id="indexNav">
      <h1>MangaDB</h1>
      <a href="/mangaDB/new">Missing a Manga?</a>
    </nav>
    <div class="containerIndex">
    <body>
       <% for (let manga of mangas ) { %>
         <div class="indexCard">
           <img src="<%=manga.posterImg%>">
           <div class="cardInfo">
             <a href="/mangadb/<%=manga._id%>">
               <%= manga.name %>
             </a>
           </div>
         </div>
      <% } %>
    </body>
  </div>
</html>
