<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="/form.css">
  <body>
    <div class="container">
        <div class="sign-up-form">
          <h1>Hello, New User</h1>
          <hr>
          <form action="/users" method="POST">
          <input type="text" placeholder="username" name="username" required/>
          <input type="password" name="password" placeholder="password" />
          <br>
          <input type="submit" id="submitBtn" value="Sign Up">
          </form>
        </div>
    </div>
  </body>
</html>
